annotations/
outputs/
pretrained_models/
vis/
Visual-RFT/
results/
gate_weights_logs/
run_wait.log
output.log
/home/lcx/chat-scene/Chat-Scene/output.log
untils_other/
models/chat3d最新.py
models/descrip3d.py
models/inst3d.py
models/版本.py
wandb/
*/__pycache__
prompts/instruction_ori.txt
dataset/des3d.py
dataset/dataset_train_ori.py
models/chat3d_twin_transformer_linear_proj.py